body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.chat-messages{
  overflow: auto;
  height: 55vh;
  display: flex;
  flex-direction: column-reverse;
}

button#dropdown-custom-2 {
flex: none;
}

.channels {
  overflow: auto;
  height: 65vh;
}